<div class="header">
  <h2>{{title}}</h2>

  <ul>
    <li>
      <button {{bind-attr disabled=disabled}} {{action "create"}}>New</button>
    </li>
    <li>
      <button {{action "calculate"}}>Submit</button>
    </li>
  </ul>

  <div {{bind-attr class="percentage::hide :statistic"}}>
    <p>Correct: <span {{bind-attr class="good:good:bad"}}>{{correct}}</span></p>

    <p>Wrong: <span {{bind-attr class="good:good:bad"}}>{{wrong}}</span></p>

    <p>Percentage: <span {{bind-attr class="good:good:bad"}}>{{percentage}}</span></p>
  </div>
</div>


<section class="math">
  <ul>
    {{#each question in questions}}
      <li>
        <span>{{question.field1}}</span>
        <span class="operator">+</span>
        <span>{{question.field2}}</span>
        <span class="operator">=</span>
      <span>
        {{input type="text" value=question.attempt}}
      </span>

        <div {{bind-attr class="question.reason::hide :reason"}}>
          {{#if question.reason}}
            {{question.reason}}
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</section>
