<div class="header">
  <h2>Addition</h2>

  <div>
    <button {{action "calculate"}}>Submit</button>
  </div>

  <div class="statistic">
    <p>
      {{#if total}}
        You had {{total}}  wrong answers.
      {{else}}
        You got everything right.
      {{/if}}
    </p>
    <p>Percentage: {{percentage}}</p>
  </div>

</div>

<section class='math'>
  <ul>
    {{#each field in this.model.questions}}
      <li>
        <span>{{field.field1}}</span>
        <span class="operator">+</span>
        <span>{{field.field2}}</span>
        <span class="operator">=</span>
        <span>
          {{input type="text" value=field.attempt}}
        </span>

        <div {{bind-attr class="field.reason::hide"}}>
          {{#if field.reason}}
            {{field.reason}}
          {{else}}
            Pass!
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</section>

