<div class="header">
  <h2>Addition</h2>

  <ul>
    <li><button {{action "create"}}>New</button></li>
    <li><button {{action "calculate"}}>Submit</button></li>
  </ul>

  <div {{bind-attr class="percentage::hide :statistic"}}>
    <p>Correct: <span {{bind-attr class="good:good:bad"}}>{{correct}}</span></p>
    <p>Wrong: <span {{bind-attr class="good:good:bad"}}>{{wrong}}</span></p>
    <p>Percentage:  <span {{bind-attr class="good:good:bad"}}>{{percentage}}</span></p>
  </div>
</div>

<section class='math'>
  <ul>
    {{#each field in this.model.questions}}
      <li>
        <span>{{field.field1}}</span>
        <span class="operator">+</span>
        <span>{{field.field2}}</span>
        <span class="operator">=</span>
        <span>
          {{input type="text" value=field.attempt}}
        </span>

        <div {{bind-attr class="field.reason::hide :reason"}}>
          {{#if field.reason}}
            {{field.reason}}
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</section>

