<h2>See the math page</h2>

<section class='math'>
  <ul>
  {{#each field in this.model}}
    <li {{bind-attr id="field.id"}}>
      <span>{{field.field1}}</span>
      <span class="operater">+</span>
      <span>{{field.field2}}</span>
      <span class="operater">=</span>
      <span>
        {{input type="number" value=field.attempt}}
      </span>
      <div {{bind-attr class="field.reason::hide"}}>
        {{#if field.reason}}
          {{field.reason}}
        {{else}}
          Pass!
        {{/if}}
      </div>
    </li>
  {{/each}}
  </ul>
  <div>
    <button {{action "calculate"}}>Submit</button>
  </div>
</section>

